@model HelpdeskApp.Models.ViewModels.EditViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>DataItem</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="AssignmentGroupId"></label>

                <select asp-for="AssignmentGroupId"
                        asp-items="@(new SelectList(Model.AssignmentGroups,"Id","Name"))"
                        class="form-control">
                    <option>Please select a group</option>
                </select>

                <span asp-validation-for="AssignmentGroupId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description"></label>
                <input asp-for="Description" class="form-control" placeholder="Enter a description" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ContactId"></label>

                <select asp-for="ContactId"
                        asp-items="@(new SelectList(Model.Contacts,"Id","FullName"))"
                        class="form-control">
                    <option>Please select a contact</option>
                </select>

                <span asp-validation-for="ContactId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
